*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/errors/errors-1761693708507.log
/.idea/inspectionProfiles/Project_Default.xml
/.idea/deploymentTargetSelector.xml
/.kotlin/sessions/kotlin-compiler-11596727736683566073.salive
/.kotlin/sessions/kotlin-compiler-1552245495055318091.salive
/.kotlin/errors/errors-1764467451842.log
/.kotlin/sessions/kotlin-compiler-1749316645585363542.salive
/app/release/baselineProfiles/1/app-release.dm
/app/release/baselineProfiles/0/app-release.dm
